html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
  	margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

h2 {
	font-size: 105%;
}

#welcomeHeading {
	font-size:200%;
	margin: 0;
}

#welcome {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	vertical-align: center;
	align-items: center;
}

.welcomeButtons {
	font-size: 60%;
	width: 30%;
	margin: 1%;
	padding: 1.5%;
	font-weight: 700;
	background: #eff0f2;
	cursor: pointer;
	font-family: inherit;
}

.welcomeButtons:hover {
	background: #a7acb5;
}

#easyMedHard{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	vertical-align: center;
	align-items: center;
}

.difficulty:hover {
	background: #dedee0;
}

#pickTheme {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	vertical-align: center;
	align-items: center;
}

.container {
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: center;
	font-size: 60%;
    width: 90%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.stars {
	text-align: center;
	list-style: none;
	width: 20%;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    padding-left: 6%;
}

.fa-star {
    margin:0;
    padding-right: 15%;
}

.moves {
	width: 20%;
	margin:0;
}

#restart {
	width: 20%;
    cursor: pointer;
    margin:0;
}

.timer {		
	margin: 0;
	width: 20%;
}

/*
 * Styles for the deck of cards
 */

.hidden {
	display: none !important;
}

#deckAndModals {
	margin-top: 30px;
	margin-bottom: 10vw;
    width: 85%;
    max-width: 770px;
    min-width: 320px;
    height: 400px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: .2em;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 130%;
    padding-bottom: 1vw;
}

.deck {
	text-align: center;
 	width: 100%;
    height: 87%;
    padding: 3%;
    padding-top: 5px;
    margin-top: -5%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
	padding: 1%;
	list-style: none;
    width: 22%;
    height: 19%;
    margin: 1%;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8%;
    cursor: pointer;
    font-size: 33px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.open {
	background: #c7c8c8 !important;
    cursor: default; 
}

.match {
    background: #1fa807 !important;
}

.notMatch {
	background: #e81818 !important;
}

.hideImage {
	display: none;
}

.showImage {
	background: transparent;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

	/*Modal Styling*/

.winLoseModal {
	opacity: 0.9;
	width: 63.8%;
	position: absolute;
	border-radius: 5px;
	padding: 1em;
	text-align: center;
	font-size: 80%;
  	font-weight: bold;
	background: linear-gradient(to top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	border: 1px solid #9cd6eb;

}



.modalButton {
	padding: .5em 1em .5em 1em;
	margin: .5em;
	border: 1px solid #464647;
	border-radius: 50%;
	background: #6b9ac5;
	font-weight: 700;
	cursor: pointer;
	font-family: inherit;
}

.modalButton:hover {
	background: #48769f;
	font-size: 70%;
}

.invisible {
	position: absolute;
	left: -5000px;
}

/* Custom navbar font-size for this page only */

.largerFont {
	font-size: 118%!important;
}